<%- include("header") -%>


    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Mussoorie</h3>
                <div class="d-inline-flex text-white">
                    <!--<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Mussoorie</p>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
 

    <div class="shadow-lg p-3 mb-5 bg-white rounded ml-20px">
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1404&amp;height=320&amp;hl=en&amp;q=mussorie&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://formatjson.org/">format json</a></div><style>.mapouter{position:relative;text-align:right;width:1404px;height:320px;}.gmap_canvas {overflow:hidden;background:none!important;width:1404px;height:320px;}.gmap_iframe {width:1404px!important;height:320px!important;}</style></div>
    </div>


    
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->


<div class="service_1 bg-light " >
    <div class="servicesm ">
        <div class="row--1">
  <div class="col-75">
    <div class="container_1_2">
      <form action="/mussoorie" method="post">
        <div class="row--1">
          <div class="col-50-11">
            <h3>Donation</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="name" id="fname" name="firstname" placeholder="enter name" required>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="email" id="email" name="email" placeholder="lucky@example.com" required>
            
            
            <div class="row--1">
              
            </div>
          </div>
             
        


          <div class="col-50-11">
            <h3>Payment</h3>
            <label for="ccnum">Credit card number</label>
            <input type="number" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required>
            <label for="expmonth">Exp Month</label>
            <input type="number" id="expmonth" name="expmonth" placeholder="September" required>
            <div class="row--1">
              <div class="col-50-11">
                <label for="text">Exp Year</label>
                <input type="number" id="expyear" name="expyear" placeholder="2022" required>
              </div>
              <div class="col-50-11">
                <label for="cvv">CVV</label>
                <input type="number" id="cvv" name="cvv" placeholder="352" required>
              </div>
            </div>
          </div>
          
          </div>
        
        <input type="submit" value="Continue to Payment" class="btn_b">
      </form>
    </div>
  </div>
  <div class="col-25-12">
    <img src="/img/der.jpg" alt="" style="width: 100%; padding-top:20px ;">
  </div>
</div>   
    </div>        
</div>


    

    
   



<!-- Packages Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">  </h6>
                <h1>Attractions in Mussoorie</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="img/kempty-fall.jpg" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                
                                <!--
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
                                -->
                            </div>
                            <a class="h5 text-decoration-none" href=""><i class="fa fa-map-marker-alt text-primary mr-2"></i>KEMPTY FALLS</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <!--<h5 class="m-0">$350</h5>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="img/mall-road.jpg" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                
                                <!--
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
                                -->
                            </div>
                            <a class="h5 text-decoration-none" href=""><i class="fa fa-map-marker-alt text-primary mr-2"></i>MALL ROAD</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <!--<h5 class="m-0">$350</h5>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="img/landour.jpg" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <!--
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>-->
                            </div>
                            <a class="h5 text-decoration-none" href=""><i class="fa fa-map-marker-alt text-primary mr-2"></i>LANDOUR</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <!--<h5 class="m-0">$350</h5>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               

               <div class="text-center" style="
                float: left;
                width: 100%;
                margin-top: 2%;
              ">
                   <h1>Delicacies</h1>
                </div>



                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="img/food-1.jpg" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <!--<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Gangotri</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>-->
                            </div>
                            <a class="h5 text-decoration-none" href="">PAHADI THALI</a>
                            <div class="border-top mt-4 pt-4">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="img/food-2.jpg" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <!--<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Yamunotri</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>-->
                            </div>
                            <a class="h5 text-decoration-none" href="">DAL FIRTTER</a>
                            <div class="border-top mt-4 pt-4">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="img/food-3.jpg" alt="">
                        <div class="p-4">
                            <!--<div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Mussoorie</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>-->
                            </div>
                            <a class="h5 text-decoration-none" href="">GULLGULÉ</a>
                            <div class="border-top mt-4 pt-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Packages End -->

   <!-- Testimonial Start -->
   <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h1>What Say Our Clients</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="img/client-3.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">This is the first time I have organized my trip from TRAVEL IN UTTARAKHAND. I would like to thank Sanjay Fartiyal for organizing 7 day 6 night very organized and planned trip.
                    </p>
                    <h5 class="text-truncate">Sunil Singh</h5>
                    
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="img/client-2.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">This is the first time I have organized my trip from TRAVEL IN UTTARAKHAND. I would like to thank Sanjay Fartiyal for organizing 7 day 6 night very organized and planned trip.
                    </p>
                    <h5 class="text-truncate">Mukesh</h5>
                   
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="img/client-4.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">This is the first time I have organized my trip from TRAVEL IN UTTARAKHAND. I would like to thank Sanjay Fartiyal for organizing 7 day 6 night very organized and planned trip.
                    </p>
                    <h5 class="text-truncate">Sujeet</h5>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->






    <div class="container bg-light" style="margin-bottom:20px;">     
        <div class="row">
            <div class="col-10">
                <div class="comment-box ml-2"> 
                    <h4>How was the experience</h4>
                    <div class="rating"> 
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <form action="/mussoorie" method="post">
                        <div class="comment-area">
                        
                            <textarea class="form-control" name="comment" placeholder="what is your view?" rows="4"></textarea>
                        
                        </div>
                        
                        <div class="comment-btns mt-2">
                            
                            <div class="row">
                                
                                <div class="col-6">
                                    
                                    <div class="pull-left">
                                    
                                    <button class="btn btn-success btn-sm">Cancel</button>      
                                        
                                    </div>
                                
                                </div>
                                
                                <div class="col-6">
                                    
                                    <div class="pull-right">
                                    
                                    <button class="btn btn-success send btn-sm">Send <i class="fa fa-long-arrow-right ml-1"></i></button>      
                                        
                                    </div>
                                
                                </div>
                    </form>
                    
                        
                        </div>
                    
                    </div>
                
                
                </div>
            
            </div>
        
        
        </div>
    
    </div>



<%- include("footer") -%>